# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

.cloud
.git
.storage
configuration
deps
__pycache__
*.pyc
logs
*.log
*.uuid
*.conf
*.db
*.db-journal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.json
www/icons
www/floorplans
www/community
custom_components/hacs
tts
components
*.pickle
.pc-session
google*.deb
.homekit.state
downloads
.google.token
install

/appdaemon/compiled
/appdaemon/dashboards/
blueprints
node-red/

known_devices.yaml
secrets.yaml
appdaemon.yaml
ip_bans.yaml







